@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Pagina destinada a exercicio de Formulário de Cadastro WEBForms</h1></center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conceituações</h2>
        <p>
            Conceito de conexão com bando de dados.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Aplicações CRUD</h2>
        <p>Realizações de Querys simples CRUD</p>
    </div>
    <div class="col-md-4">
        <h2>Aprendizado</h2>
        <p>Identificar funcionalidades do C# referentes as questões anteriores</p>
    </div>
</div>